# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Publish release

on:
  workflow_call:
    inputs:
      target:
        description: "The git ref to checkout, build from and release"
        required: true
        type: string
      tag:
        description: "The tag of the release"
        required: true
        type: string
      prerelease:
        description: "Prerelease"
        required: false
        default: false
        type: boolean

env:
  CI_DIR: 2049ef39-42a2-46d2-b513-ee6d2e3a7b15

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      target: ${{ inputs.target }}

  publish-release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: build
          path: ${{ env.CI_DIR }}

      - name: Extract build artifacts
        run: |
          artifacts_dir="$(realpath -m "$CI_DIR/artifacts")"
          mkdir -p "$artifacts_dir"
          tar -xzf "$CI_DIR/build.tar.gz" -C "$artifacts_dir"
          rm "$CI_DIR/build.tar.gz"

      - name: Copy Binaries
        run: |
          artifacts_dir="$(realpath -m "$CI_DIR/artifacts")"
          cp "${artifacts_dir}/win-x64/SteamWorkshopDownloader.exe" "${CI_DIR}/SteamWorkshopDownloader.exe.win-x64.exe"
          cp "${artifacts_dir}/linux-x64/SteamWorkshopDownloader" "${CI_DIR}/SteamWorkshopDownloader.exe.linux-x64"
          cp "${artifacts_dir}/osx-x64/SteamWorkshopDownloader" "${CI_DIR}/SteamWorkshopDownloader.exe.osx-x64"
          ls "${artifacts_dir}"

      - name: Publish release
        uses: notpeelz/action-gh-create-release@c1bebd17c8a128e8db4165a68be4dc4e3f106ff1 # v5.0.1
        with:
          target: ${{ inputs.target }}
          tag: ${{ inputs.tag }}
          prerelease: ${{ inputs.prerelease }}
          strategy: replace
          title: "Automatic build"
          body: "Automatic build"
          files: |
            ${{ env.CI_DIR }}/SteamWorkshopDownloader.exe.win-x64.exe
            ${{ env.CI_DIR }}/SteamWorkshopDownloader.exe.linux-x64
            ${{ env.CI_DIR }}/SteamWorkshopDownloader.exe.osx-x64
